body {
  background-color: #0f84e4;
}

h1 {
  color:#3d0175
}
.card {
  background: rgb(8, 231, 101);
  width: 500px;
  padding: 20px;
  border-radius: 12px;
}
button {
  background-color: aquamarine;
}

